# URL del proyecto
NEXTAUTH_URL=http://localhost:3000

# Secreto fuerte para NextAuth
NEXTAUTH_SECRET=replace-with-a-long-random-secret

# Recomendado detrás de proxy
AUTH_TRUST_HOST=true

# Solo se usan para crear el admin inicial si no existe en la DB
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-strong-initial-password

# Opcional: si en el futuro corrés varias instancias
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=

# Opcional
TZ=Europe/Madrid
